notes.md

#ignore node_modules in all subdirectories
server/node_modules
client/node_modules

#ignore .env files
server/config/config.env
server/.env
client/.env

#ignore ssl certificates
server/config/ssl
