# Node Environment
NODE_ENV=

# Server Listening Port
PORT=

# Database URI
MONGO_URI=

# Auth: JWT - Cookie

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRE=
JWT_REFRESH_SECRET=
MAX_AGE=
SECURE_COOKIE=false

# Cors Origin
CLIENT_URL=

# Admin Account
ADMIN_FIRSTNAME=Administrator
ADMIN_LASTNAME=Alpha
ADMIN_USERNAME=admin
ADMIN_EMAIL=
ADMIN_PHONE_NUMBER=
ADMIN_PASSWORD=12345678
